{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <header class="masthead bg-primary text-center">
        <div class="container-sm ">

            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h1 class=" border-bottom border-gray pb-2 mb-0 text-center">Registro</h1>

                <div class="my-4">

                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

                    <div class="row justify-content-center align-items-center h-100">
                        <div class="form-group align-content-center">
                            {{ form_row(form.current_password, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="form-group align-content-center">
                            {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="form-group align-content-center">
                            {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div>
                        <input class="btn btn-success" type="submit" value="Cambiar contraseña"/>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </header>
{% endblock %}